.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  padding: 1rem 2rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  background-color: var(--color-alt-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}